<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/common::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>About</title>
</head>
<body>
	<section>
	
	
			<div class="card mr-3 ml-2">
			
				<div class="card-body  th:if=${address}">
			
					<div class="container">
			
						<h3>
			
					</div>
			
				</div>
			
			<h1 th:unless="${address}"> Access Denied </h1>
			
			<form method="post" th:action="@{'/user/update-address/'+${address.a_id}}" class="mt-2">
     
      			<button type="submit" class="btn btn-block btn-primary btn-sm">Update</button>
      
     	 	</form>
			
			</div>
			
			
	</section>
</body>
</html>