<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/common::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Profile</title>
</head>
<body>
	<section>
	
	<h1>This Is Your Profile Page</h1>
	
	<div class="card mr-3 ml-3"  th:if=${user}>
	
	<div class="card-body">
	
	<div class="container">
	
	<h3 th:text="${user.name}"></h3>
	
	<h3 th:text="${user.email}"></h3>
	
	<h3 th:text="${user.role}"></h3>
	
	<a th:href="@{/user/add-address}" class="btn btn-primary btn-block"> Add New Contact</a>


	</div>
	
	</div>	
	
	</div>	
	
	</section>
</body>
</html>